body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: #1400FF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.containerEssay {
    max-width: 1200px;

    margin: 20px auto;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
textarea {
    width: 1176px;
    min-height: 585px;
    resize: none;

    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 10px;

    word-wrap: break-word;

    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.2;

    &:focus{
        border: 3px solid white;
        outline: none;
      }
}
#characterCount {
    display: flex;
    margin-left: auto;

    border: 3px solid #F9F9F9;
    padding: 10px;
    border-radius: 5px;

    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
  }
#buttonAssess {
    width: 200px;

    color: white;
    font-family: sans-serif;
    font-size: 16px;

    background-color: #1400FF;
    border: 3px solid #F9F9F9;
    padding: 10px;
    border-radius: 10px;

    cursor: pointer;

    &:hover{
        background-color: white;
        color: #1400FF;
        border: 3px solid #1400FF;
        outline: 3px solid #F9F9F9;
        transition: 0.15s
    }
}
.containerAssessment {
    max-width: 1200px;

    margin: 20px auto;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#markedEssay {
    width: 98%;
    min-height: 585px;
    resize: none;

    font-family: sans-serif;
    font-size: 22px;
    line-height: 1.5;

    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 10px;

    background-color: white;
}
.buttons {
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
}
#buttonClear {
    align-self: flex-end;
    width: 200px;
    
    color: white;
    font-family: sans-serif;
    font-size: 16px;

    background-color: #e70000;
    border: 3px solid #F9F9F9;
    padding: 10px 20px;
    border-radius: 10px;

    cursor: pointer;

    &:hover{
        background-color: white;
        color: #e70000;
        border: 3px solid #e70000;
        outline: 3px solid #F9F9F9;
        transition: 0.25s
    }
}
#buttonCopy {
    width: 200px;

    color: white;
    font-family: sans-serif;
    font-size: 16px;

    background-color: #cccccc;
    border: 3px solid #F9F9F9;
    padding: 10px;
    border-radius: 10px;
    
    cursor: pointer;

    &:hover{
        background-color: white;
        color: #cccccc;
        border: 3px solid #cccccc;
        outline: 3px solid #F9F9F9;
        transition: 0.15s
    }
}
.vocabularyChart {
    width: 380px; 
    height: 380px; 
    object-fit: cover;
    object-position: 50% 50%;

    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}
.dataframe {
    max-width: 1000px;
}
span {
    cursor: pointer;
    border-radius: 5px;
}
#no_data {
    border: 2px solid #DADADA;
    background-color: #f9f9f982;
}
#level0 {
    cursor: default;
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.49);
}
#level1 {
    border: 2px solid orange;
    background-color: rgba(255, 166, 0, 0.5);
}
#level2 {
    border: 2px solid green;
    background-color: rgba(0, 128, 0, 0.504);
}
#level3 {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.481);
}
#level4 {
    border: 2px solid purple;
    background-color: rgba(128, 0, 128, 0.5);
}
#level5 {
    border: 2px solid brown;
    background-color: rgba(165, 42, 42, 0.503);
}