body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: #1400FF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    color: #1400FF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px;
}
.containerEssay {
    max-width: 1200px;

    margin: 20px auto;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    z-index: 2;
}
textarea {
    width: 1176px;
    min-height: 585px;
    resize: none;

    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 10px;

    word-wrap: break-word;

    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.2;

    &:focus{
        border: 3px solid white;
        outline: none;
      }
}
#characterCount {
    display: flex;
    margin-left: auto;

    border: 3px solid #F9F9F9;
    padding: 10px;
    border-radius: 5px;

    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
  }
#buttonAssess {
    width: 200px;

    color: white;
    font-family: sans-serif;
    font-size: 16px;

    background-color: #1400FF;
    border: 3px solid #F9F9F9;
    padding: 10px;
    border-radius: 10px;

    cursor: pointer;

    &:hover{
        background-color: white;
        color: #1400FF;
        border: 3px solid #1400FF;
        outline: 3px solid #F9F9F9;
        transition: 0.15s
    }
}
.containerAssessment {
    max-width: 1200px;

    margin: 20px auto;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: none;
}
#markedEssay {
    width: 98%;
    min-height: 585px;
    resize: none;

    font-family: sans-serif;
    font-size: 22px;
    line-height: 1.7;

    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 10px;

    background-color: white;
}
.buttons {
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
}
#buttonClear {
    align-self: flex-end;
    width: 200px;
    
    color: white;
    font-family: sans-serif;
    font-size: 16px;

    background-color: #e70000;
    border: 3px solid #F9F9F9;
    padding: 10px 20px;
    border-radius: 10px;

    cursor: pointer;

    &:hover{
        background-color: white;
        color: #e70000;
        border: 3px solid #e70000;
        outline: 3px solid #F9F9F9;
        transition: 0.25s
    }
}
#buttonCopy {
    width: 200px;

    color: white;
    font-family: sans-serif;
    font-size: 16px;

    background-color: #cccccc;
    border: 3px solid #F9F9F9;
    padding: 10px;
    border-radius: 10px;
    
    cursor: pointer;

    &:hover{
        background-color: white;
        color: #cccccc;
        border: 3px solid #cccccc;
        outline: 3px solid #F9F9F9;
        transition: 0.15s
    }
}
.tableAssessment {
    padding: 0px;
    border: 0px solid #f9f9f982;
    background-color: #f9f9f982;
    border-radius: 0px;
}
.rowAssessment {
    padding: 0px;
    border: 0px solid #f9f9f982;
    background-color: #f9f9f982;
    border-radius: 0px;
}
.cellAssessment {
    padding: 3px;
    border: 0px solid #f9f9f982;
    background-color: #f9f9f982;
    border-radius: 0px;
    align-content: start;
}
.level {
    width: 380px;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
    align-content: center;

    background-color: white;
    border-radius: 10px;
}
.vocabularyChart {
    width: 380px; 
    height: 380px; 
    object-fit: cover;
    object-position: 55% 55%;

    border: 0px solid #f9f9f982;
    border-radius: 10px;
}
.dataframe {
    margin: 3px;
    width: 380px;
    border: 0px solid #f9f9f982;
}
table {
    padding: 3px;
    border: 0px solid #f9f9f982;
    background-color: white;
    border-radius: 10px;

    font-size: 18px;
    text-align: center;
}
th {
    padding: 3px;
    border: 0px solid white;
    background-color: white;
    text-align: center;
}
tr {
    padding: 3px;
    border: 0px solid white;
    background-color: white;
    text-align: center;
}
td {
    padding: 3px;
    border: 0px solid white;
    background-color: white;
    text-align: center;
}
span {
    cursor: pointer;
    border-radius: 7px;
    padding: 2px;
}
.no_data {
    cursor: default;
    border: 2px solid #DADADA;
    background-color: #f9f9f982;
}
.level0 {
    border: 2px solid rgb(255, 232, 156);
    background-color: rgba(255, 232, 156, 0.5);
}
.level1 {
    border: 2px solid rgb(255, 207, 50);
    background-color: rgba(255, 207, 50, 0.5);
}
.level2 {
    border: 2px solid rgb(234, 129, 152);
    background-color: rgba(234, 129, 152, 0.5);
}
.level3 {
    border: 2px solid rgb(236, 44, 85);
    background-color: rgba(236, 44, 85, 0.5);
}
.level4 {
    border: 2px solid rgb(171, 96, 198);
    background-color: rgba(171, 96, 198, 0.5);
}
.level5 {
    border: 2px solid rgb(126, 0, 172);
    background-color: rgba(126, 0, 172, 0.5);
}
.replaced {
    border: 2px solid rgb(62, 45, 254);
    background-color: rgba(62, 45, 254, 0.5);
}
#replacementsPopUpWindow {
    width: 150px;
    min-height: 40px;
    height: auto; 
    background-color: #F9F9F9;
    
    outline: 5px solid white;
    border: 3px solid #cccccc;
    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#buttonReplacement {
    width: 140px;

    font-family: sans-serif;
    font-size: 16px;

    margin: 5px;
    padding: 5px;
    border: 0px;
    border-radius: 10px;

    background-color: white;
    color: black;
    
    cursor: pointer;

    &:hover{
        background-color: #cccccc;
        color: white;
        transition: 0.15s
    }
}
#noReplacements {
    width: 140px;

    font-family: sans-serif;
    font-size: 16px;

    margin: 5px;
    padding: 5px;
    border: 0px;
    border-radius: 10px;

    background-color: white;
    color: rgb(86, 86, 86);
}
.tooltip {
    width: 150px;
    min-height: 20px;
    height: auto; 
    background-color: #DADADA;
    
    color: #454545;
    font-family: sans-serif;
    font-size: 12px;
    text-align: justify;

    padding: 5px;

    border: 0px solid #F9F9F9;
    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    display: none;
}