@font-face {
    font-family: 'TTNormsProRegular';
    src: url(../../fonts/TTNormsPro-Regular.ttf);
}
@font-face {
    font-family: 'TTNormsProMedium';
    src: url(../../fonts/TTNormsPro-Medium.ttf);
}
@font-face {
    font-family: 'TTNormsProBold';
    src: url(../../fonts/TTNormsPro-Bold.ttf);
}

.instruments {
    background-color: #F5F5F5;

    width: 185px;
    height: 100%;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;

    margin: 0px;
    padding: 0px;

    border-right: 1px solid #BCBCBC;
}
.instruments-title-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 10px;

    margin: 0px;
    padding-left: 24px;
    padding-top: 60px;
    padding-bottom: 8px;

    border-bottom: 1px solid #BCBCBC;
}
.instruments-buttons-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 10px;

    margin: 0px;
    padding: 0px;
    padding-block: 10px;
    padding-left: 24px;
}
.instruments li {
    list-style-type: none;
}
.title-item {
    font-family: 'TTNormsProBold';
    font-size: 18px;
    color: #2670FF;
    transition: 0.1s;

    &:hover {
        cursor: default;
    }

    margin: 0px;
    padding: 0px;
}
@keyframes slide3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}