html {
    margin: 0px;
    height: 100vh;
}

body {
    margin: 0px;
    height: 100vh;
}

.main-container {
    display: flex;

    height: calc(100vh - 31px);
}
main {
    padding-top: 88px;
    padding-left: 5%;
    padding-right: 5%;
}